<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=RIS_DB;User Id=sa;Password=93324577;"
      providerName="System.Data.SqlClient" />
    <add name="RIS_DBConnectionString" connectionString="Data Source=.;Initial Catalog=RIS_DB;Persist Security Info=True;User ID=sa;Password=93324577"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!-- The settings below are for development purposes only. Please replace as appropriate before deployment. -->
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="admin@RIS_TEST.com">
        <network host="localhost"/>
        <specifiedPickupDirectory pickupDirectoryLocation="E:\Temp\Projects\FYP\SCE11-0353\TempMail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Guest/Login.aspx" protection="All" slidingExpiration="true" ticketCompatibilityMode="Framework40" timeout="30"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <membership>
      <providers>
        <clear/>
        <add applicationName="/" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1"
             name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <pages>
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <profile>
      <providers>
        <clear/>
        <add applicationName="/" connectionStringName="ApplicationServices" name="AspNetSqlProfileProvider"
             type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
    </profile>
    <roleManager cacheRolesInCookie="true" cookieProtection="All" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieTimeout="30"
                 enabled="true">
      <providers>
        <clear/>
        <add applicationName="/" connectionStringName="ApplicationServices" name="AspNetSqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <siteMap enabled="true" defaultProvider="SiteMap">
      <providers>
        <clear/>
        <add name="SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>